* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

body > h1 {
  width: 80%;
  margin: 20px auto;
}

section {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #888;
  padding: 10px;
  min-height: 300px;
  max-height: 500px;
}

section h2 {
  margin: 20px 0;
}

.colors ul li {
  display: inline-block;
  height: 100px;
  width: 32%;
  color: #000;
  text-align: center;
  padding-top: 18px;
}

ul li p {
  margin-top: 10px;
}

li.blue {
  background-color: #2d5dcc;
  color: #fff;
}
li.pink {
  background-color: #d957d9;
}
li.green {
  background-color: #4fe0b0;
}
li.beige {
  background-color: #efd9ca;
}

.fonts {
  min-height: 500px;
  max-height: 800px;
  margin: 20px auto;
}

.font-panel {
  display: inline-block;
  width: 35%;
  margin: 30px;
}

.font-label {
  margin: 20px 0;
  font-size: 20px;
  text-decoration: underline;
}

p {
  margin: 20px 0;
}

.sourceCode {
  font-family: "Source Code Pro", monospace;
}

.nunitoSans {
  font-family: "Nunito Sans", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

/* Headings Styles Model */

.headings > h1 {
  font-weight: 700;
  font-style: 26px;
  font-family: "Nunito Sans", sans-serif;
  margin: 20px 0;
}

.headings ul {
  padding-left: 40px;
}

.subheading {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
